#totalAPagar {
    background-color: #d8f3f3;
    color: rgb(20, 20, 144);
    height: 2.5rem;
}


.btn {
    background-color: #96c93e;
    color: white;
}

.btn:hover {
    background-color: #96c93e;
    color: black;
}

.montoTotal{
    font-weight: bold;
    font-size: 1rem;
}