footer{

    background: linear-gradient(90deg, rgba(28,54,67,1) 0%, rgba(30,81,110,1) 100%);
    color: white;
}

footer a{

    color: white;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
   
}

footer col{

    padding: 8rem !important;

}